body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem;
}

nav .logo {
    display: flex;
    align-items: center;
}

nav .logo img {
    height: 40px;
    margin-right: 10px;
}

nav .logo span {
    color: white;
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.search-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
    position: relative;
}

.search-container input {
    width: 300px;
    padding: 0.5rem;
    margin-right: 10px;
}

.search-container button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.search-results {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    display: none; /* Initially hidden */
    width: 150px;
}

.search-results ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.search-results li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.search-results li:hover {
    background-color: #f0f0f0;
}

.content {
    position: relative;
    text-align: center;
    color: white;
}

.background-image {
    background-image: url('image/Dubai_Marina_Skyline.jpg');
    height: 80vh;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-10%, -50%);
    text-align: left;
}

.overlay h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.overlay p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.book-now {
    padding: 1rem 2rem;
    font-size: 1rem;
    background-color: #ff5722;
    color: white;
    border: none;
    cursor: pointer;
}

.social-media {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.social-media a {
    margin: 10px 0;
}

.social-media a img {
    width: 40px;
}

.center-Content {
    margin-left: 120px;
}
